@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
/* Font Arabic Scheherazade New - Reguler 400 */
  --font-scheherazade: 'Scheherazade New', serif;
/* Font Arabic Aref Ruqaa - Reguler 400 */
  --font-aref: 'Aref Ruqaa', serif;
/* Font Indo Poppins - Reguler 400 - medium 500 - bold 700  */
  --font-poppins: 'Poppins', sans-serif;
/* Font Indo Amiri - Reguler 400 - medium 500 - bold 700  */
  --font-amiri: 'Amiri', serif;
}
/* Font Family  */
.font-aref{
  font-family: var(--font-aref)!important;
}
.font-scheherazade{
  font-family: var(--font-scheherazade)!important;
}
.font-poppins{
  font-family: var(--font-poppins)!important;
}
.font-amiri{
  font-family: var(--font-amiri)!important;
}
.font-amiri-quran{
  font-family: 'Amiri Quran', serif!important;
}

body{
  font-family: var(--font-poppins)!important;
}
.container-app {
  max-width: 450px;
  height: 100vh;
}
img{
  width: 100%;
  height: 100%;
}
.cursor{
  cursor: pointer;
}
.text-small{
  font-size: .913rem;
}
.transition {
  transition: all .3s ease-in-out;
}
