@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:'Rustam Quran';
  src: url('/font/rustam_quranR3HOQ.ttf') format('truetype');
}

:root{
/* Font Arabic Scheherazade New - Reguler 400 */
  --font-scheherazade: 'Scheherazade New', serif;
/* Font Arabic Aref Ruqaa - Reguler 400 */
  --font-aref: 'Aref Ruqaa', serif;
/* Font Indo Poppins - Reguler 400 - medium 500 - bold 700  */
  --font-poppins: 'Poppins', sans-serif;
}

/* Font Family  */
.font-aref{
  font-family: var(--font-aref)!important;
}
.font-scheherazade{
  font-family: var(--font-scheherazade)!important;
}
.font-poppins{
  font-family: var(--font-poppins)!important;
}
.font-rustam-quran{
  line-height: 3.3rem;
  font-family: "Rustam Quran";
  font-weight: normal;
  text-align: right;
  direction: rtl;
}
.font-kalam-light{
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}
.font-kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
.container-app {
  max-width: 450px;
  height: 100vh;
}
img{
  width: 100%;
  height: 100%;
}
.cursor{
  cursor: pointer;
}
.text-small{
  font-size: .913rem;
}
.transition {
  transition: all .3s ease-in-out;
}
